<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="@/static/css/styles.css">
</head>
<body>
<div class="dashboard-container">
    <h2>Welcome, <span th:text="${username}"></span>!</h2>
    <h3>Order Details</h3>
    <table>
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Order Date</th>
            <th>Total Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.orderId}"></td>
            <td th:text="${order.orderDate}"></td>
            <td th:text="${order.totalAmount}"></td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</div>
</body>
</html>
