<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>

    <form th:action="@{/login}" method="POST">
        <!--        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Username" autofocus>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password">
        <input type="submit" value="Submit">

    </form>
    <div th:if="${param.error}" class="error">Invalid username or password.</div>

    <div th:if="${param.error}" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">


    </div>

</body>
</html>
